@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // We added this line to identify the _Layout file to include the .css file!
    Layout = "_Layout";
}



<p class="jumbotron">
    Hello, my name is @(ViewBag.Name ?? "(unknown)").
</p>

